Django==1.6.2
Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
argparse==1.2.1
dj-static==0.0.5
gunicorn==18.0
honcho==0.5.0
itsdangerous==0.23
mock==1.0.1
parameterizedtestcase==0.1.0
parse==1.6.3
pystache==0.5.3
six==1.5.2
static==1.0.2
