<!DOCTYPE html>
%html
  %head
    %title 
      Static mockup of Codemanship App
    %link(href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css")
    %link(href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css")
  %body
    #container
      %header 
        %h1 Codemanship Application
        %hr

      #sidebar
        %h2 Games
        %h3 Pick a game for your bot to play
        .box 
          TicTacToe
          f
        .box 
          Chess
        .box 
          Poker

      #content
        %h2 Players
        


      %footer Footer
