@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";
@import "blueprint/liquid";
@import "blueprint/typography";

$number-columns: $blueprint-grid-columns;
$background-color: #FFFFFF;
$color-dark: #EAA83A;
$color-light: #FEC56B;
$color-comp-dark: #51C5D4;
$color-comp-light: #80D4DF;

@include blueprint-typography;

#container {
  @include container;
  @include blueprint-scaffolding;
  background-color: $background-color;
  width: 90%;
}

header, footer {
  @include column($number-columns);
}

#sidebar{
  @include column($number-columns/3);
  background-color: $color-comp-light;
  text-align: center;

  .game {
    margin: 2em;
    padding-top: 0.5em;
    background-color: $color-light;
    text-align: center;
  }
}


#content {

  @include column($number-columns*2/3, true);

  h1,h2 {
    text-align: center;
  }

  #players {
    $size-of-icon: 40px;
    $number-of-games: 4;
    ul {
      list-style-type: none;
    }

    .supported-games {
      display:inline-block;
      width: $number-of-games * $size-of-icon;
      line-height: $size-of-icon + 2 * 2px;

      img {
        vertical-align: middle;
        max-height: $size-of-icon;
        max-width: $size-of-icon;
      }
    }
  }
}

